.nav a
{
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  padding: 0% 1.5% 0% 1.5%;
}

body
{
  background-color: #4D5656;
  color: #FFF;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h1
{
  border-bottom: 8px solid rgba(255, 255, 255, 0.507);
}

.nav a:hover {
  background-color: rgba(221, 248, 215, 0.555);
}

.nav
{
  width: 95%;
  height: 8%;
  min-height: 50px;
  background-color: #333;
  white-space: nowrap;
  overflow-x: auto;
  padding-left: 5%;
  padding-top: 2%;
}

.header
{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 300%;
  position: relative;
  text-align: center;
  color: #fff;
}

.header img
{
  border-radius: 50px;
}
.header h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.590);
  border-radius: 50px;
  margin-top: 0%;
  margin-bottom: 40%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  width: 75%;
}

.main
{
  width: 90%;
  height: 100%;
  margin: auto;
  content: "";
  display: table;
  clear: both;
}

.main::after
{
  content: "";
  display: table;
  clear: both;
}
.main-title
{
  color: #acf;
  font-size: 30px;
}

.main .title .subject
{
  width: 0%;
}

.main .subject
{
  width: 100%;
  background: #FFF;
  margin-top: 1.5%;
  padding: 1.5%;
  color: #FFF;
  border-left: 5px solid #34495E;
  border-right: 5px solid #34495E;
  border-top: 5px solid #34495E;
  border-bottom: 5px solid #34495E;
  border-radius: 25px;
}

.main .big
{
  width: 96.5%;
}


.main .small .subject
{
  width: 96.5%;
}

.main .small .left
{
  float: left;
  width: 48%;
  margin: auto;
}

.main .small .right
{
  float: right;
  width: 48%;
  margin: auto;
}

.main .small .right::after
{
  float: none;
  clear: both;
}

.main .subject .title
{
  color: #257;
  font-size: 30px;
}

.main .subject .content
{
  color: #000;
}

.nav .current:hover
{
  background-color: rgba(14, 245, 110, 0.555);
}
.content-header
{
  color: rgb(18, 55, 92);
  font-size: 120%;
}

.no-bullets
{
  list-style: none;
}

.no-bullets li{
  height: 80px;
}

.light-btn
{
  background-color: rgb(44, 111, 255);
  color: white;
  text-decoration: none;
  border-radius: 25px;
  padding: 2% 3% 2% 3%;
}

.light-btn:hover
{
  background-color: rgb(27, 27, 27);;
}

li{
  margin: 0.2% 0% 0.2% 0%;
}

.hiraganachart
{
  width: 100%;
}

.note{
  font-size: 50%;
  color: rgb(114, 114, 114);
}

.inline
{
  display: inline;
}

.inline::after
{
  display: block;
}

.footer
{
  margin-bottom: 0%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.384);
}



@media only screen and (max-width: 1000px) {
  .header {
    font-size: 25px;
  }

  li{
    margin: 0px 0% 1px 0%;
  }

  .light-btn
  {
    padding: 20px 20px 20px 20px;
  }
}