.nav a
{
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  padding: 0% 1.5% 0% 1.5%;
}

body
{
  background-color: #4D5656;
  color: #FFF;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h1
{
  border-bottom: 5px solid rgb(202, 202, 202);
}

.nav a:hover {
  background-color: rgba(221, 248, 215, 0.555);
}

.nav
{
  width: 95%;
  height: 8%;
  min-height: 50px;
  background-color: #333;
  white-space: nowrap;
  overflow-x: auto;
  padding-left: 5%;
  padding-top: 2%;
}

.header
{
  padding-left: 5%;
  font-size: 50px;
  margin-right: 5%;
}

.main
{
  width: 90%;
  height: 90%;
  margin: auto;
}

.main-title
{
  color: #acf;
  font-size: 30px;
}

.main .title .subject
{
  width: 0%;
}

.main .subject
{
  width: 100%;
  background: #FFF;
  margin-top: 1.5%;
  padding: 1.5%;
  color: #fff;
  border-left: 5px solid #34495E;
  border-right: 5px solid #34495E;
  border-top: 5px solid #34495E;
  border-bottom: 5px solid #34495E;
  border-radius: 25px;
}

.main .big
{
  margin-right: 1.5%;
}


.main .small .subject
{
  width: 100%;
}

.main .small .left
{
  float: left;
  width: 48%;
  margin: auto;
}

.main .small .right
{
  float: right;
  width: 48%;
  margin: auto;
}

.main .subject .title
{
  color: #257;
  font-size: 30px;
}

.main .subject .content
{
  color: #000;
}

.nav .current:hover
{
  background-color: rgba(14, 245, 110, 0.555);
}
.content-header
{
  color: rgb(18, 55, 92);
  font-size: 120%;
}

.no-bullets
{
  list-style: none;
}

.no-bullets li{
  margin-bottom: 1%;
  margin-top: 1%;
  height: 8%;
}

.light-btn
{
  background-color: rgb(44, 111, 255);
  color: white;
  text-decoration: none;
  border-radius: 25px;
  padding: 1.5% 1.5% 1.5% 1.5%;
}

.light-btn:hover
{
  background-color: rgb(27, 27, 27);;
}

li{
  margin: 0.4% 0% 0.4% 0%;
}